@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: rgb(220, 219, 203);

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(48, 166, 216);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(139, 55%, 59%, 0.832);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
